{% extends 'base.html.twig' %}

{% block title %}Orders{% endblock %}
{% block h_one %}Orders{% endblock %}

{% block body %}
<table class="table">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Order ID</th>
			<th scope="col">Date</th>
			<th scope="col">Amount</th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>
		{% for order in orders %}
			<tr class="align-middle">
				<td class="align-middle">{{ order.id }}</td>
				<td class="align-middle">{{ order.orderUid }}</td>
				<td class="align-middle">{{ order.date|date }}</td>
				<td class="align-baseline">{{ order.orderAmount }} {{ order.currency }}</td>
				<td><a class="btn btn-sm btn-info" href="{{ path('show_order', {id: order.id}) }}">Details</a></td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
